/*Font import*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Catamaran&family=Paytone+One&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navigation */
#name {
  font-size: 33px;
}

@media (max-width: 500px) {
  #name {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  #name {
    font-size: 21px;
  }
}

.nav-link {
  font-size: 20px;
}

/*end of navigation*/

/*intro section */

@media (min-width: 1000px) {
  .infoPic {
    width: 100vh;
  }
}
@media (max-width: 760px) {
  .infoPic {
    max-width: 100px;
  }
}

@media (min-width: 770px) {
  #introone {
    font-size: 40px;
  }
  #introtwo {
    font-size: 50px;
  }
  #introthree {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  #introthree {
    font-size: 18px;
  }
}
@media (max-width: 330px) {
  #introtwo {
    font-size: 20px;
  }
}
/*end of intro section */

/*about me section */
.aboutMee {
  max-width: 100vh;
}

.introParagraph {
  font-family: "Biryani", sans-serif;
  font-size: 22px;
}

@media (max-width: 450px) {
  #p1,
  #p2,
  #p3 {
    text-align: center;
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .infoPic {
    max-width: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  .infoPic {
    max-width: 375px;
  }

  #p1,
  #p3 {
    padding-left: 10px;
  }
}

/*footer*/
#footer {
  background-color: lightgray;
  font-size: 20px;
}

/*font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Paytone One', sans-serif;*/
